<h2>My Products</h2>
<table class="table table-bordered">
    <thead>
        <th>ID</th>
        <th>TITLE</th>
        <th>PRICE</th>
        <th>RATING</th>
        <th>DESCRIPTION</th>
        <th>CATEGORY</th>
    </thead>
<tbody>
    <tr *ngFor="let p of products" 
    [class.selected]="p === selectedProduct">
        <td (click)="onSelect(p)">{{p.Id}}</td>
        <td>{{p.Title | titlecase}}</td>
        <td>{{p.Price | currency : symbol : fractionSize}}</td>
        <td>{{p.Rating}}</td>
        <td>{{p.Description}}</td>
        <td>{{p.Category}}</td>
    </tr>
</tbody>
</table>

<div *ngIf="selectedProduct">

        <h3>{{selectedProduct.Title | uppercase}} Details</h3>
        <div><label>Id: {{selectedProduct.Id}}</label></div>
        <div><label>Title: {{selectedProduct.Title | titlecase}}</label></div>
        <div><label>Price: {{selectedProduct.Price | currency : symbol : fractionSize}}</label></div>
        <div><label>Rating: {{selectedProduct.Rating}}</label></div>
        <div><label>Description: {{selectedProduct.Description}}</label></div>
        <div><label>Category: {{selectedProduct.Category}}</label></div>
</div>

